##### IMPORTACION DE LIBRERIAS

In [1]:
import pandas as pd
import numpy as np

##### EXTRACCION DE DATOS MASIVOS

###### DEFINICION DEL DTYPE

In [2]:
dtype_dict = {
    'ubigeo_inei': 'object',
    'departamento_inei': 'object',
    'provincia_inei': 'object'
}

###### LECTURA DEL ARCHIVO CSV

In [3]:
dicc_ubigeo = pd.read_csv("../DATASETS/TB_UBIGEOS.csv", dtype=dtype_dict)

In [4]:
dicc_ubigeo

,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,Frontera
0,1,10101.0,010101,01,AMAZONAS,0101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,-6.2294,-77.8728,NO
1,2,10102.0,010102,01,AMAZONAS,0101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,-6.0325,-77.7108,NO
2,3,10103.0,010103,01,AMAZONAS,0101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,-6.8358,-78.0197,NO
3,4,10104.0,010104,01,AMAZONAS,0101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,-6.2556,-77.7008,NO
4,5,10105.0,010105,01,AMAZONAS,0101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,-6.0783,-77.7375,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,1847,230102.0,240102,24,TUMBES,2401,TUMBES,CORRALES,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,132.0,27.0,-3.6014,-80.4806,NO
1889,1848,230103.0,240103,24,TUMBES,2401,TUMBES,LA CRUZ,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,65.0,10.0,-3.6372,-80.5900,NO
1890,1849,230104.0,240104,24,TUMBES,2401,TUMBES,PAMPAS DE HOSPITAL,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,728.0,28.0,-3.6933,-80.4392,SI
1891,1850,230105.0,240105,24,TUMBES,2401,TUMBES,SAN JACINTO,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,599.0,23.0,-3.6408,-80.4453,SI
1892,1851,230106.0,240106,24,TUMBES,2401,TUMBES,SAN JUAN DE LA VIRGEN,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,119.0,26.0,-3.6278,-80.4336,NO

In [6]:
dicc_ubigeo.head()

,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,Frontera
0,1,10101.0,010101,01,AMAZONAS,0101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,-6.2294,-77.8728,NO
1,2,10102.0,010102,01,AMAZONAS,0101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,-6.0325,-77.7108,NO
2,3,10103.0,010103,01,AMAZONAS,0101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,-6.8358,-78.0197,NO
3,4,10104.0,010104,01,AMAZONAS,0101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,-6.2556,-77.7008,NO
4,5,10105.0,010105,01,AMAZONAS,0101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,-6.0783,-77.7375,NO

In [7]:
dicc_ubigeo.dtypes

id_ubigeo              int64
ubigeo_reniec        float64
ubigeo_inei           object
departamento_inei     object
departamento          object
provincia_inei        object
provincia             object
distrito              object
region                object
macroregion_inei      object
macroregion_minsa     object
iso_3166_2            object
fips                   int64
superficie           float64
altitud              float64
latitud              float64
longitud             float64
Frontera              object
dtype: object

##### TRANSFORMACION DE DATOS MASIVOS

##### FILTRO Y LIMPIEZA DE DATOS DEPARTAMENTO

###### VERIFICACION DE CAMPOS NULOS

In [5]:
dicc_ubigeo.isna().sum()

id_ubigeo             0
ubigeo_reniec         1
ubigeo_inei           0
departamento_inei     0
departamento          0
provincia_inei        0
provincia             0
distrito              0
region                0
macroregion_inei      0
macroregion_minsa     0
iso_3166_2            0
fips                  0
superficie           23
altitud              19
latitud              19
longitud             19
Frontera              0
dtype: int64

###### VERIFICACION DE CAMPOS DUPLICADOS

In [33]:
departamentos_duplicados = dicc_ubigeo.duplicated(subset=["departamento_inei", "departamento"]).sum()
print(f"El numero de registros duplicados por departamento asciende a: {departamentos_duplicados}")

El numero de registros duplicados por departamento asciende a: 1868

###### ELIMINACION DE REGISTROS DUPLICADOS

In [7]:
dicc_departamento = dicc_ubigeo[["departamento_inei", "departamento"]].drop_duplicates()

###### ORDENACION ASCENDENTE DEL DATAFRAME

In [8]:
dicc_departamento = dicc_departamento.sort_values(by="departamento_inei", ascending=True)

###### RESETEO DEL INDEX DEL DATAFRAME

In [9]:
dicc_departamento = dicc_departamento.reset_index(drop=True)

###### DATAFRAME DICC_DEPARTAMENTO LIMPIO Y FORMATEADO

In [10]:
dicc_departamento

   departamento_inei   departamento
0                 01       AMAZONAS
1                 02         ANCASH
2                 03       APURIMAC
3                 04       AREQUIPA
4                 05       AYACUCHO
5                 06      CAJAMARCA
6                 07         CALLAO
7                 08          CUSCO
8                 09   HUANCAVELICA
9                 10        HUANUCO
10                11            ICA
11                12          JUNIN
12                13    LA LIBERTAD
13                14     LAMBAYEQUE
14                15           LIMA
15                16         LORETO
16                17  MADRE DE DIOS
17                18       MOQUEGUA
18                19          PASCO
19                20          PIURA
20                21           PUNO
21                22     SAN MARTIN
22                23          TACNA
23                24         TUMBES
24                25        UCAYALI

##### DATAFRAME DF_DEPARTAMENTO LIMPIO

###### CREACION DEL DATAFRAME DF_DEPARTAMENTO A PARTIR DEL DATAFRAME DICC_DEPARTAMENTO

In [13]:
df_departamento = pd.DataFrame(
    {
        "COD_DEPARTAMENTO": dicc_departamento["departamento_inei"],
        "NOM_DEPARTAMENTO": dicc_departamento["departamento"]
    }
)

In [14]:
df_departamento

   COD_DEPARTAMENTO NOM_DEPARTAMENTO
0                01         AMAZONAS
1                02           ANCASH
2                03         APURIMAC
3                04         AREQUIPA
4                05         AYACUCHO
5                06        CAJAMARCA
6                07           CALLAO
7                08            CUSCO
8                09     HUANCAVELICA
9                10          HUANUCO
10               11              ICA
11               12            JUNIN
12               13      LA LIBERTAD
13               14       LAMBAYEQUE
14               15             LIMA
15               16           LORETO
16               17    MADRE DE DIOS
17               18         MOQUEGUA
18               19            PASCO
19               20            PIURA
20               21             PUNO
21               22       SAN MARTIN
22               23            TACNA
23               24           TUMBES
24               25          UCAYALI

##### FILTRO Y LIMPIEZA DE DATOS PROVINCIA

###### VERIFICACION DE TIPOS DE CAMPOS

In [14]:
dicc_ubigeo.dtypes

id_ubigeo              int64
ubigeo_reniec        float64
ubigeo_inei           object
departamento_inei     object
departamento          object
provincia_inei        object
provincia             object
distrito              object
region                object
macroregion_inei      object
macroregion_minsa     object
iso_3166_2            object
fips                   int64
superficie           float64
altitud              float64
latitud              float64
longitud             float64
Frontera              object
dtype: object

###### VERIFICACION DE CAMPOS DUPLICADOS

In [35]:
provincias_duplicadas = dicc_ubigeo.duplicated(subset=["provincia_inei", "provincia", "departamento_inei"]).sum()
print(f"El numero de registros duplicados por provincia asciende a: {provincias_duplicadas}")

El numero de registros duplicados por provincia asciende a: 1697

###### ELIMINACION DE REGISTROS DUPLICADOS

In [16]:
dicc_provincia =  dicc_ubigeo[["provincia_inei", "provincia", "departamento_inei"]].drop_duplicates()

###### ORDENACION ASCENDENTE DEL DATAFRAME

In [17]:
dicc_provincia = dicc_provincia.sort_values(by="provincia_inei", ascending=True)

###### RESETEO DEL INDEX DEL DATAFRAME

In [18]:
dicc_provincia = dicc_provincia.reset_index(drop=True)

###### DATAFRAME DICC_PROVINCIA LIMPIO Y FORMATEADO

In [19]:
dicc_provincia

    provincia_inei         provincia departamento_inei
0             0101       CHACHAPOYAS                01
1             0102             BAGUA                01
2             0103           BONGARA                01
3             0104      CONDORCANQUI                01
4             0105              LUYA                01
..             ...               ...               ...
191           2403         ZARUMILLA                24
192           2501  CORONEL PORTILLO                25
193           2502           ATALAYA                25
194           2503        PADRE ABAD                25
195           2504             PURUS                25

[196 rows x 3 columns]

##### DATAFRAME DF_PROVINCIA LIMPIO

###### CREACION DEL DATAFRAME DF_PROVINCIA A PARTIR DEL DATAFRAME DICC_PROVINCIA

In [20]:
df_provincia = pd.DataFrame(
    {
        "COD_PROVINCIA": dicc_provincia["provincia_inei"],
        "NOM_PROVINCIA": dicc_provincia["provincia"],
        "COD_DEPARTAMENTO": dicc_provincia["departamento_inei"]
    }
)

In [21]:
df_provincia

    COD_PROVINCIA     NOM_PROVINCIA COD_DEPARTAMENTO
0            0101       CHACHAPOYAS               01
1            0102             BAGUA               01
2            0103           BONGARA               01
3            0104      CONDORCANQUI               01
4            0105              LUYA               01
..            ...               ...              ...
191          2403         ZARUMILLA               24
192          2501  CORONEL PORTILLO               25
193          2502           ATALAYA               25
194          2503        PADRE ABAD               25
195          2504             PURUS               25

[196 rows x 3 columns]

##### FILTRO Y LIMPIEZA DE DATOS DEPARTAMENTO

###### VERIFICACION DE TIPOS DE CAMPOS

In [21]:
dicc_ubigeo.dtypes

id_ubigeo              int64
ubigeo_reniec        float64
ubigeo_inei           object
departamento_inei     object
departamento          object
provincia_inei        object
provincia             object
distrito              object
region                object
macroregion_inei      object
macroregion_minsa     object
iso_3166_2            object
fips                   int64
superficie           float64
altitud              float64
latitud              float64
longitud             float64
Frontera              object
dtype: object

###### ELIMINACION DE REGISTROS DUPLICADOS

In [22]:
dicc_distrito = dicc_ubigeo[["ubigeo_inei", "distrito", "provincia_inei"]].drop_duplicates()

###### ORDENACION ASCENDENTE DEL DATAFRAME

In [23]:
dicc_distrito = dicc_distrito.sort_values(by="ubigeo_inei", ascending=True)

###### RESETEO DEL INDEX DEL DATAFRAME

In [24]:
dicc_distrito = dicc_distrito.reset_index(drop=True)

###### BUSQUEDA DEL DISTRITO SAN BORJA

In [25]:
dicc_distrito.loc[dicc_distrito["distrito"] == "SAN BORJA"]

     ubigeo_inei   distrito provincia_inei
1321      150130  SAN BORJA           1501

##### DATAFRAME DF_DISTRITO LIMPIO

###### CREACION DEL DATAFRAME DF_DISTRITO A PARTIR DEL DATAFRAME DICC_DISTRITO

In [25]:
df_distrito = pd.DataFrame(
    {
        "COD_UBIGEO": dicc_distrito["ubigeo_inei"],
        "NOMB_DISTRITO": dicc_distrito["distrito"],
        "COD_PROVINCIA": dicc_distrito["provincia_inei"]
    }
)

In [26]:
df_distrito

     COD_UBIGEO           NOMB_DISTRITO COD_PROVINCIA
0        010101             CHACHAPOYAS          0101
1        010102                ASUNCION          0101
2        010103                  BALSAS          0101
3        010104                   CHETO          0101
4        010105               CHILIQUIN          0101
...         ...                     ...           ...
1888     250304                 NESHUYA          2503
1889     250305  ALEXANDER VON HUMBOLDT          2503
1890     250306                 HUIPOCA          2503
1891     250307                BOQUERON          2503
1892     250401                   PURUS          2504

[1893 rows x 3 columns]

##### CONVERTIR A CSV

###### CONVERSION DEL DATAFRAME DF_DEPARTAMENTO A FORMATO CSV

In [27]:
df_departamento.to_csv("../FINAL-CSV'S/TB_DEPARTAMENTO.csv", index=False)

###### CONVERSION DEL DATAFRAME DF_PROVINCIA A FORMATO CSV

In [28]:
df_provincia.to_csv("../FINAL-CSV'S/TB_PROVINCIA.csv", index=False)

###### CONVERSION DEL DATAFRAME DF_DISTRITO A FORMATO CSV

In [29]:
df_distrito.to_csv("../FINAL-CSV'S/TB_DISTRITO.csv", index=False)